{{#if resume.work.length}}
<section id="work" class="row">
	<aside class="col-sm-3">
		<h3>Work</h3>
	</aside>
	<div class="col-sm-9">
		<div class="row">
			{{#each resume.work}}
			<div class="col-sm-12">
				<h4 class="strike-through">
					<span>{{company}}</span>

					{{#if endDate}}
						<span class="date">
						{{startDate}} — {{endDate}}
						</span>
					{{else}}
						<span class="date">
						{{startDate}} — Present
						</span>
					{{/if}}
					
				</h4>
				{{#website}}
				<div class="website pull-right">
					<a href="{{.}}">{{.}}</a>
				</div>
				{{/website}}
				{{#position}}
				<div class="position">
					{{.}}
				</div>
				{{/position}}
				{{#summary}}
				<div class="summary">
					<p>{{.}}</p>
				</div>
				{{/summary}}
				{{#if highlights.length}}
				<ul class="highlights">
					{{#highlights}}
					<li class="bullet">{{.}}</li>
					{{/highlights}}
				</ul>
				{{/if}}
			</div>
			{{/each}}
		</div>
	</div>
</section>
{{/if}}